@use '../tokens/index' as *;

/* ========== [FONT HELPERS] ========== */

/*--- FONT-FACE ---*/
@font-face {
  font-family: "NewYork";
  src: url("../../../../dist/fonts/font_NewYork/NewYork.ttf") format("truetype");
}

@font-face {
  font-family: "SFPro";
  src: url("../../../../dist/fonts/font_SFPro/SF-Pro.ttf") format("truetype");
}