@use '../tokens/index' as *;

/* ========== [FONT HELPERS] ========== */

/*--- FONT-FACE ---*/
@font-face {
  src: url("../assets/fonts/font_NewYork/NewYork.ttf");
  font-family: $font-primary;
}

@font-face {
  src: url("../assets/fonts/font_SFPro/SF-Pro.ttf");
  font-family: $font-secondary;
}