.button {
  border: none;
  cursor: pointer;
  @include elevation(1);

  /*--- SIZES ---*/
  &--small {
    @include font-style(button, sm);
    padding: $space-inset-squish-sm;
    margin: $space-inset-md;
    @include border(none, $border-radius-sm, none);
    border: 
  }
  &--medium {
    @include font-style(button, md);
    padding: $space-inset-squish-md;
    margin: $space-inset-md;
    @include border(none, $border-radius-sm, none);
  }
  &--large {
    @include font-style(button, lg);
    padding: $space-inset-squish-lg;
    margin: $space-inset-md;
    @include border(none, $border-radius-md, none);
  }

  /*--- VARIANS ---*/
  &--primary {
    background-color: $color-button-primary-bg;
    color: $color-button-primary-text;
  }
  &--secondary {
    background-color: $color-button-secondary-bg;
    color: $color-button-secondary-text;
  }
  &--ghost {
    background-color: $color-button-ghost-bg;
    color: $color-button-ghost-text;
  }

  /*--- STATES ---*/
  &:hover {}
  &:focus-visible {}
  &:active {}
  &:disabled {}

  /*--- EXTRA STATES ---*/
  &.is-loading {}
  &.is-disabled {}
}