<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../main.css">
  <title>Buttons</title>
</head>
<body>
  <h2>Buttons</h2>
  <div class="btn__sizes">
    <button class="button  button--small">BTNSIZE</button>
    <button class="button  button--medium">BTNSIZE</button>
    <button class="button  button--large">BTNSIZE</button>
  </div>
  <div class="btn__varians">
    <button class="button  button--small  button--primary">PRIMARY</button>
    <button class="button  button--medium  button--secondary">SECONDARY</button>
    <button class="button  button--large  button--ghost">GHOST</button>
  </div>
  <div class="btn__states">

  </div>
  
</body>
</html>