@use './colors-primary' as *;

/*--- SECONDARY COLORS ---*/
$color-primary: $color-blue-60;
$color-secondary: $color-indigo-60;

$color-success: $color-success-60;
$color-warning: $color-warning-60;
$color-error: $color-error-60;

$color-default: $color-blue-60;
$color-focus: $color-blue-95;
$color-hover: $color-blue-80;
$color-press: $color-blue-40;
$color-disabled: $color-neutral-300;
$color-progress: $color-neutral-900;