@use '../tokens/typography/font-family' as *;

/*--- FONT-FACE ---*/
@font-face {
  src: url("../assets/fonts/font_NewYork/NewYork.ttf");
  font-family: $font-primary;
}

@font-face {
  src: url("../assets/fonts/font_SFPro/SF-Pro.ttf");
  font-family: $font-secondary;
}