h1 {
  color: $color-primary;
  @include font-style(title, md);
  @include text-shadow(2);
  margin: $space-inset-md;
}

h2 {
  color: $color-warning;
  @include font-style(blockquote, md);
  @include border($border-width-md, $border-radius-md, $color-primary);
  @include elevation(3);
  padding: $space-inset-squish-md;
  margin: $space-stack-md;
}

h3 {
  color: $color-disabled;
  @include font-style(link, md);
  @include border($border-width-sm, $border-radius-xl, $color-secondary);
  @include elevation(5);
}

.airplay {
  @include icon(xl, $color-success);
}

.battery__cont {
  margin: $space-inset-xl;
  padding: $space-inset-md;
  @include elevation(3);
  @include border($border-width-md, $border-radius-sm, $color-primary);
  display: flex;
  justify-content: center
}

.battery {
  @include icon(xl, $color-error);
}