/*--- BORDER-WIDTH ---*/
$border-width-none: 0;
$border-width-sm: 0.10rem;
$border-width-md: 0.20rem;
$border-width-lg: 0.40rem;
$border-width-xl: 0.80rem;

/*--- BORDER-RADIUS ---*/
$border-radius-none: 0;
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;
$border-radius-circle: 50%;
$border-radius-pill: 999rem;

@mixin border($width, $radius, $color) {
  border: $width solid $color;
  border-radius: $radius;
}