/*--- BORDER-RADIUS ---*/
$border-radius-none: 0;
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;
$border-radius-circle: 50%;
$border-radius-pill: 999rem;