/*--- BOX-SHADOW DEFINITIONS ---*/
$shadow-0: none;
$shadow-1: (0, 2px, 5px, rgba(0, 0, 0, 0.26));
$shadow-2: (0, 3px, 6px, rgba(0, 0, 0, 0.16));
$shadow-3: (0, 10px, 20px, rgba(0, 0, 0, 0.19));
$shadow-4: (0, 14px, 28px, rgba(0, 0, 0, 0.25));
$shadow-5: (0, 19px, 38px, rgba(0, 0, 0, 0.30));

// Box-shadow szintek a Material Design irányelvei alapján
// Forrás: https://m3.material.io/styles/elevation/tokens
// Értékek egyszerűsítve és SCSS változókba szervezve használatra