/*--- BOX-SHADOW SIZES ---*/
$box-shadow-0: 0px 0px 0px;
$box-shadow-1: 0px 1px 3px;
$box-shadow-2: 0px 3px 6px;
$box-shadow-3: 0px 10px 20px;
$box-shadow-4: 0px 15px 25px;
$box-shadow-5: 0px 20px 40px;