/*--- PRIMARY COLORS ---*/
$color-primary-400: #5c6bc0;
$color-primary-500: #3f51b5;
$color-primary-700: #303f9f;
$color-primary-900: #1a237e;

$color-neutral-100: #f9f9f9;
$color-neutral-200: #eeeeee;
$color-neutral-800: #2c2c2c;
$color-neutral-900: #121212;

$color-digital-blue: #0067C5;

/*--- SECONDARY COLORS ---*/
$color-success-400: #66BB6A;
$color-success-500: #4CAF50;
$color-success-700: #388E3C;
$color-success-900: #1B5E20;

$color-warning-400: #FFB74D;
$color-warning-500: #FF9800;
$color-warning-700: #F57C00;
$color-warning-900: #E65100;

$color-error-400: #EF5350;
$color-error-500: #F44336;
$color-error-700: #D32F2F;
$color-error-900: #C62828;

$color-info-400: #64B5F6;
$color-info-500: #2196F3;
$color-info-700: #1976D2;
$color-info-900: #1565C0;