/* ========== [RAW COLORS] ✅ ========== */

/*--- PRIMARY COLORS ---*/
$color-primary-400: #6b8df0;
$color-primary-500: #3e6ae1;
$color-primary-700: #3457b1;
$color-primary-900: #253d73;

$color-neutral-100: #ffffff;
$color-neutral-200: #f4f4f4;
$color-neutral-800: #929292;
$color-neutral-900: #181a1f;

/*--- SECONDARY COLORS ---*/
$color-success-400: #5dbf6e;
$color-success-500: #4caf50;
$color-success-700: #388e3c;
$color-success-900: #2c6b2f;

$color-warning-400: #ffcc66;
$color-warning-500: #ffb84d;
$color-warning-700: #e68a00;
$color-warning-900: #cc7a00;

$color-error-400: #ff6666;
$color-error-500: #ff3333;
$color-error-700: #e60000;
$color-error-900: #cc0000;

$color-info-400: #66ccff;
$color-info-500: #33b5e5;
$color-info-700: #1f90cc;
$color-info-900: #1a75b3;

/* ========== [TOKENIZED COLORS] ✅ ========== */

/*--- BRAND COLORS ---*/
$color-primary:     $color-primary-500;
$color-secondary:   $color-neutral-100;

/*--- BACKGROUND COLORS ---*/
$color-bg-light:    $color-neutral-100;
$color-bg-medium:   $color-neutral-200;
$color-bg-semidark: $color-neutral-800;
$color-bg-dark:     $color-neutral-900;

/*--- TEXT COLORS ---*/
$color-text-light:      $color-neutral-100;
$color-text-medium:     $color-neutral-200;
$color-text-semidark:   $color-neutral-800;
$color-text-dark:       $color-neutral-900;
$color-text-link:       $color-primary-400;
$color-text-link-hover: $color-primary-900;

/*--- STATE COLORS ---*/
$color-state-success:  $color-success-400;
$color-state-warning:  $color-warning-400;
$color-state-error:    $color-error-400;
$color-state-info:     $color-info-400;

/*--- BORDER COLORS ---*/
$color-border-light:    $color-neutral-100;
$color-border-medium:   $color-neutral-200;
$color-border-semidark: $color-neutral-800;
$color-border-dark:     $color-neutral-900;