/* ========== [TYPOGRAPHY] ✅ ========== */

/*--- FONT SCALE ---*/
$font-scale: 1.2;

/*--- FONT-FAMILY ---*/
$font-primary: 'NewYork';
$font-secondary: 'SFPro';

/*--- FONT-SIZE ---*/
$font-size-sm: 1rem;
$font-size-xs: calc($font-size-sm / $font-scale);
$font-size-md: calc($font-size-sm * $font-scale);
$font-size-lg: calc($font-size-md * $font-scale);
$font-size-xl: calc($font-size-lg * $font-scale);
$font-size-xxl: calc($font-size-xl * $font-scale);

/*--- FONT-WEIGHT ---*/
$font-weight-regular: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;

/*--- LINE-HEIGHT ---*/
$line-height-tight: 1.4;
$line-height-normal: 1.6;
$line-height-relaxed: 1.8;
$line-height-loose: 2;