// === Components/Atoms: BUTTON ========

@use '../../tokens/index' as *;

/*--- BUTTON-FONT-SIZE ---*/
$button-font-size-sm: 0.875rem;
$button-font-size-md: 1rem;
$button-font-size-lg: 1.125rem;

/*--- BUTTON-BG-COLORS ---*/
$button-bg-default: $color-primary;
$button-bg-hover: $color-primary;
$button-bg-focus: $color-primary;
$button-bg-press: $color-primary;
$button-bg-disabled: $color-primary;
$button-bg-inverted: $color-primary;

/*--- BUTTON-TEXT-COLORS ---*/
$button-text-default: $color-neutral-100;
$button-text-hover: $color-primary-700;
$button-text-focus: $color-primary;
$button-text-press: $color-primary-900;
$button-text-disabled: $color-neutral-200;
$button-text-inverted: $color-primary;

/*--- BUTTON-SPACING ---*/
$button-padding-sm: $squish-sm; // 4px 8px
$button-padding-md: $squish-md; // 8px 16px
$button-padding-lg: $squish-lg; // 16px 32px

/*--- BUTTON-BORDER-RADIUS ---*/
$button-border-sm: 1px;
$button-border-md: 1.5px;
$button-border-lg: 4px;

/*--- BUTTON-SHADOW ---*/
$button-shadow-sm: 0px 18px 40px -12px rgba(0, 0, 0, 0.35);
$button-shadow-md: 0px 0.75rem 1rem -5px rgba(0, 0, 0, 0.35);

/*--- BUTTON-BASE ---*/
.btn {
  font-family: $font-secondary;
  font-size: $button-font-size-md;
  font-weight: $font-weight-medium;
  padding: 8px 16px; // $squish-md
  cursor: pointer;
}

/*--- BUTTON-PRIMARY ---*/
.btn--primary {
  background-color: $button-bg-default;
  color: $button-text-default;
  border: none;
  border-radius: $button-border-lg;
  box-shadow: $button-shadow-md;

  &:hover:not(:disabled) {
    background-color: $button-text-hover;
  }

  &:active:not(:disabled) {
    background-color: $button-text-press;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $button-text-disabled;
    color: $button-text-default;
    box-shadow: none;
  }
}

/*--- BUTTON-SECONDARY ---*/
.btn--secondary {
  background-color: transparent;
  color: $button-text-inverted;
  border: $button-border-md solid;
  border-radius: $button-border-lg;
  box-shadow: $button-shadow-md;

  &:hover:not(:disabled) {
    color: $button-text-hover;
  }

  &:active:not(:disabled) {
    color: $button-text-press;
  }

  &:disabled {
    cursor: not-allowed;
    color: $button-text-disabled;
    box-shadow: none;
  }
}

/*--- BUTTON-SIZES ---*/
.btn--small {
  font-size: $button-font-size-sm;
  padding: 4px 8px; // $squish-sm
  // box-shadow: #{$button-shadow-sm} #{$button-text-default};
}

.btn--large {
  font-size: $button-font-size-lg;
  padding: 16px 32px; // $squish-lg
  // box-shadow: #{$button-shadow-lg} #{$button-text-default};
}