/*--- FONT-SIZE ---*/
$font-size-title-sm: 2.75rem;
$font-size-title-md: 3.125rem;
$font-size-title-lg: 3.5rem;

$font-size-subtitle1-sm: 2rem;
$font-size-subtitle1-md: 2.25rem;
$font-size-subtitle1-lg: 2.5rem;

$font-size-subtitle2-sm: 1.5rem;
$font-size-subtitle2-md: 1.75rem;
$font-size-subtitle2-lg: 2rem;

$font-size-subtitle3-sm: 1.125rem;
$font-size-subtitle3-md: 1.25rem;
$font-size-subtitle3-lg: 1.375rem;

$font-size-body-sm: 1rem;
$font-size-body-md: 1.125rem;
$font-size-body-lg: 1.25rem;

$font-size-small-sm: 0.875rem;
$font-size-small-md: 1rem;
$font-size-small-lg: 1.125rem;

$font-size-caption-sm: 1rem;
$font-size-caption-md: 1.125rem;
$font-size-caption-lg: 1.25rem;

$font-size-link-sm: 1rem;
$font-size-link-md: 1.125rem;
$font-size-link-lg: 1.25rem;

$font-size-blockquote-sm: 1.125rem;
$font-size-blockquote-md: 1.25rem;
$font-size-blockquote-lg: 1.375rem;

$font-size-button-sm: 0.6rem;
$font-size-button-md: 0.875rem;
$font-size-button-lg: 1.125rem;