/*--- PRIMARY COLORS ---*/
$color-blue-20: #001a4d;
$color-blue-40: #0047b3;
$color-blue-60: #1a75ff;
$color-blue-80: #80b3ff;
$color-blue-95: #e6f0ff;

$color-indigo-20: #312e81;
$color-indigo-40: #4338ca;
$color-indigo-60: #6366f1;
$color-indigo-80: #a5b4fc;
$color-indigo-95: #e0e7ff;