@use '../tokens/index' as *;

/*--- COLORS ---*/
$color-primary: $color-primary-500;

/*--- FEEDBACK COLORS ---*/
$color-success: $color-success-500;
$color-warning: $color-warning-500;
$color-error: $color-error-500;
$color-info: $color-info-500;

/*--- INTERACTIVE STATES ---*/
$color-default: $color-primary-500;
$color-focus: $color-primary-900;
$color-hover: $color-primary-700;
$color-press: $color-primary-400;
$color-disabled: $color-neutral-200;
$color-progress: $color-neutral-900;

/*--- TEXT COLORS ---*/
$color-text-primary: $color-neutral-900;
$color-text-secondary: $color-neutral-800;
$color-text-link: $color-digital-blue;

/*--- SHADOW COLORS ---*/
$shadow-color-light: rgba(0, 0, 0, 0.1);
$shadow-color-medium: rgba(0, 0, 0, 0.2);
$shadow-color-dark: rgba(0, 0, 0, 0.3);