/*--- LINE-HEIGHT ---*/
$line-height-default: 1;

/*--- FONT-WEIGHT ---*/
$font-weight-lg: 800;
$font-weight-md: 600;
$font-weight-sm: 300;

/*--- FONT-STYLES ---*/
$font-styles: (
  title: (
    sm: (font-family: $font-primary, font-size: 2.75rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 3.125rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 3.5rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  subtitle1: (
    sm: (font-family: $font-primary, font-size: 2rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 2.25rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 2.5rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  subtitle2: (
    sm: (font-family: $font-primary, font-size: 1.5rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 1.75rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 2rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  subtitle3: (
    sm: (font-family: $font-primary, font-size: 1.125rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 1.25rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 1.375rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  body: (
    sm: (font-family: $font-primary, font-size: 1rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 1.125rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 1.25rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  small: (
    sm: (font-family: $font-primary, font-size: 0.875rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 1rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 1.125rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  caption: (
    sm: (font-family: $font-primary, font-size: 1rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 1.125rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 1.25rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  link: (
    sm: (font-family: $font-primary, font-size: 1rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-primary, font-size: 1.125rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-primary, font-size: 1.25rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  ),
  blockquote: (
    sm: (font-family: $font-secondary, font-size: 1.125rem, font-weight: $font-weight-sm, line-height: $line-height-default),
    md: (font-family: $font-secondary, font-size: 1.25rem, font-weight: $font-weight-md, line-height: $line-height-default),
    lg: (font-family: $font-secondary, font-size: 1.375rem, font-weight: $font-weight-lg, line-height: $line-height-default),
  )
);