@use '../tokens/index' as *;

.buttons_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons_elements {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  color: $color-text-muted;
}