@use '../tokens/index' as *;

.page-borders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $color-primary;
  }

  /* --- border-width --- */

  .width1 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-thin;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
  }

  .width2 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
  }

  .width3 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-bold;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
  }

  /* --- border-radius --- */

  .radius1 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
    border-radius: $border-radius-sm;
  }

  .radius2 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
    border-radius: $border-radius-md;
  }

  .radius3 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
    border-radius: $border-radius-lg;
  }

  .radius4 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
    border-radius: $border-radius-full;
  }

  /* --- border-color --- */

  .color1 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-light;
  }

  .color2 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-medium;
  }

  .color3 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-semidark;
  }

  .color4 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-dark;
  }

  .color5 {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border-width: $border-width-regular;
    border-style: $border-style-solid;
    border-color: $border-color-primary;
  }
}