@use '../tokens/index' as *;
@use '../base/index' as *;
@use '../utilities/index' as *;

.page-typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-light;
  color: $color-text-dark;

  h1, h2 {
    @include spacing('margin', $square-md);
  }

  .font_families {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .font-primary {
    display: flex;
    align-items: center;

    h3 {
      color: $color-primary;
      font-family: $font-primary;
      font-size: $font-size-xl;
    }
  }

  .font-secondary {
    display: flex;
    align-items: center;

    h3 {
      color: $color-primary;
      font-family: $font-secondary;
      font-size: $font-size-xl;
    }
  }

  .font_sizes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .font-size {
      color: $color-primary;
      @include spacing('margin', $square-sm);
    }

    .font-size-xs {
      font-size: $font-size-xs;
    }

    .font-size-sm {
      font-size: $font-size-sm;
    }

    .font-size-md {
      font-size: $font-size-md;
    }

    .font-size-lg {
      font-size: $font-size-lg;
    }

    .font-size-xl {
      font-size: $font-size-xl;
    }

    .font-size-xxl {
      font-size: $font-size-xxl;
    }
  }

  .font_weights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .font-weight {
      color: $color-primary;
      @include spacing('margin', $square-sm);
      font-size: $font-size-xl;
    }

    .font-weight-regular {
      font-weight: $font-weight-regular;
    }

    .font-weight-medium {
      font-weight: $font-weight-medium;
    }

    .font-weight-bold {
      font-weight: $font-weight-bold;
    }

    .font-weight-heavy {
      font-weight: $font-weight-heavy;
    }
  }

  .font_heights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .font-height {
      color: $color-primary;
      @include spacing('margin', $square-sm);
      font-size: $font-size-xl;
      outline: 1px solid $color-bg-semidark;
    }

    .line-height-tight {
      line-height: $line-height-tight;
    }

    .line-height-normal {
      line-height: $line-height-normal;
    }

    .line-height-relaxed {
      line-height: $line-height-relaxed;
    }

    .line-height-loose {
      line-height: $line-height-loose;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
    color: $color-text-link;
    @include spacing('margin', $square-sm);
    }

    a:hover {
      color: $color-text-link-hover;
    }
  }
}