*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button, a, svg {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

/*--- PRIMARY COLORS ---*/
/*--- SECONDARY COLORS ---*/
/*--- BRAND COLORS ---*/
/*--- BACKGROUND COLORS ---*/
/*--- TEXT COLORS ---*/
/*--- STATE COLORS ---*/
/*--- BORDER COLORS ---*/
/*--- FONT SCALE ---*/
/*--- FONT-FAMILY ---*/
/*--- FONT-SIZE ---*/
/*--- FONT-WEIGHT ---*/
/*--- LINE-HEIGHT ---*/
/*--- SPACING SCALE ---*/
/*--- SPACING TOKENS ---*/
/*--- SPACING CONCEPTIONS ---*/
/*--- FONT-FACE ---*/
@font-face {
  src: url("../assets/fonts/font_NewYork/NewYork.ttf");
  font-family: "NewYork";
}
@font-face {
  src: url("../assets/fonts/font_SFPro/SF-Pro.ttf");
  font-family: "SFPro";
}
/*--- SPACING MIXIN ---*/
.page-colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.page-colors h1, .page-colors h2 {
  margin: 1rem;
}
.page-colors .brand_colors {
  text-align: center;
  margin: 1rem;
}
.page-colors .brand_colors .color-primary {
  color: #3e6ae1;
  border: 1px solid #f4f4f4;
}
.page-colors .brand_colors .color-secondary {
  color: #ffffff;
  background-color: #181a1f;
}
.page-colors .background_colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 200px;
  margin: 1rem;
}
.page-colors .background_colors .color-bg {
  text-align: center;
  height: 100px;
}
.page-colors .background_colors .color-bg-light {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
}
.page-colors .background_colors .color-bg-medium {
  background-color: #f4f4f4;
  color: #181a1f;
}
.page-colors .background_colors .color-bg-semidark {
  background-color: #929292;
  color: #ffffff;
}
.page-colors .background_colors .color-bg-dark {
  background-color: #181a1f;
  color: #f4f4f4;
}
.page-colors .text_colors {
  margin: 1rem;
}
.page-colors .text_colors .color-text-light {
  color: #ffffff;
  background-color: #181a1f;
}
.page-colors .text_colors .color-text-medium {
  color: #f4f4f4;
}
.page-colors .text_colors .color-text-semidark {
  color: #929292;
}
.page-colors .text_colors .color-text-dark {
  color: #181a1f;
}
.page-colors .text_colors .color-text-link {
  color: #6b8df0;
}
.page-colors .text_colors .color-text-link-hover {
  color: #253d73;
}
.page-colors .state_colors {
  margin: 1rem;
}
.page-colors .state_colors .color-state-success {
  color: #5dbf6e;
}
.page-colors .state_colors .color-state-warning {
  color: #ffcc66;
}
.page-colors .state_colors .color-state-error {
  color: #ff6666;
}
.page-colors .state_colors .color-state-info {
  color: #66ccff;
}
.page-colors .border_colors {
  margin: 1rem;
}
.page-colors .border_colors .color-border {
  width: 250px;
  height: 100px;
  margin: 1rem;
}
.page-colors .border_colors .color-border-light {
  border: 1px solid #ffffff;
}
.page-colors .border_colors .color-border-medium {
  border: 1px solid #f4f4f4;
  background-color: #ffffff;
}
.page-colors .border_colors .color-border-semidark {
  border: 1px solid #929292;
  background-color: #ffffff;
}
.page-colors .border_colors .color-border-dark {
  border: 1px solid #181a1f;
}
.page-colors .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-colors .links a {
  color: #6b8df0;
  margin: 0.5rem;
}
.page-colors .links a:hover {
  color: #253d73;
}

.page-typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #181a1f;
}
.page-typography h1, .page-typography h2 {
  margin: 1rem;
}
.page-typography .font_families {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-typography .font-primary {
  display: flex;
  align-items: center;
}
.page-typography .font-primary h3 {
  color: #3e6ae1;
  font-family: "NewYork";
  font-size: 1.728rem;
}
.page-typography .font-secondary {
  display: flex;
  align-items: center;
}
.page-typography .font-secondary h3 {
  color: #3e6ae1;
  font-family: "SFPro";
  font-size: 1.728rem;
}
.page-typography .font_sizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-typography .font_sizes .font-size {
  color: #3e6ae1;
  margin: 0.5rem;
}
.page-typography .font_sizes .font-size-xs {
  font-size: 0.8333333333rem;
}
.page-typography .font_sizes .font-size-sm {
  font-size: 1rem;
}
.page-typography .font_sizes .font-size-md {
  font-size: 1.2rem;
}
.page-typography .font_sizes .font-size-lg {
  font-size: 1.44rem;
}
.page-typography .font_sizes .font-size-xl {
  font-size: 1.728rem;
}
.page-typography .font_sizes .font-size-xxl {
  font-size: 2.0736rem;
}
.page-typography .font_weights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-typography .font_weights .font-weight {
  color: #3e6ae1;
  margin: 0.5rem;
  font-size: 1.728rem;
}
.page-typography .font_weights .font-weight-regular {
  font-weight: 300;
}
.page-typography .font_weights .font-weight-medium {
  font-weight: 500;
}
.page-typography .font_weights .font-weight-bold {
  font-weight: 700;
}
.page-typography .font_weights .font-weight-heavy {
  font-weight: 900;
}
.page-typography .font_heights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-typography .font_heights .font-height {
  color: #3e6ae1;
  margin: 0.5rem;
  font-size: 1.728rem;
  outline: 1px solid #929292;
}
.page-typography .font_heights .line-height-tight {
  line-height: 1.4;
}
.page-typography .font_heights .line-height-normal {
  line-height: 1.6;
}
.page-typography .font_heights .line-height-relaxed {
  line-height: 1.8;
}
.page-typography .font_heights .line-height-loose {
  line-height: 2;
}
.page-typography .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-typography .links a {
  color: #6b8df0;
  margin: 0.5rem;
}
.page-typography .links a:hover {
  color: #253d73;
}

.page-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin: auto;
}
.page-index header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.page-index header h1 {
  font-family: "NewYork";
  color: #3e6ae1;
}
.page-index header p {
  font-family: "SFPro";
  color: #181a1f;
}
.page-index main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 50vh;
  outline: 1px solid #929292;
}
.page-index main div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-index main a {
  font-size: 1.44rem;
  color: #6b8df0;
}
.page-index main a:hover {
  color: #253d73;
}
.page-index footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-index footer p {
  font-family: "SFPro";
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */