/*--- PRIMARY COLORS ---*/
$color-primary-red: #1a75ff;
$color-primary-blue: #6366f1;
$color-primary-white: #22c55e;

$blue-20: #001a4d;
$blue-40: #0047b3;
$blue-60: #1a75ff; // base (Digital Blue)
$blue-80: #80b3ff;
$blue-95: #e6f0ff;

$indigo-20: #312e81;
$indigo-40: #4338ca;
$indigo-60: #6366f1; // base
$indigo-80: #a5b4fc;
$indigo-95: #e0e7ff;

$green-20: #14532d;
$green-40: #166534;
$green-60: #22c55e; // base
$green-80: #86efac;
$green-95: #dcfce7;

/*--- SECONDARY COLORS ---*/
$error-20: #7f1d1d;
$error-40: #b91c1c;
$error-60: #ef4444; // base
$error-80: #fca5a5;
$error-95: #fee2e2;

$success-20: #14532d;
$success-40: #166534;
$success-60: #22c55e; // base
$success-80: #86efac;
$success-95: #dcfce7;

$warning-20: #78350f;
$warning-40: #b45309;
$warning-60: #f59e0b; // base
$warning-80: #fde68a;
$warning-95: #fef9c3;

$info-20: #1e3a8a;
$info-40: #2563eb;
$info-60: #3b82f6; // base
$info-80: #93c5fd;
$info-95: #dbeafe;

$gray-100: #f9f9f9;
$gray-200: #eeeeee;
$gray-300: #dcdcdc;
$gray-800: #2c2c2c;
$gray-900: #121212;


/*--- CONTRAST CHECKER ---*/
// https://webaim.org/resources/contrastchecker/