/*--- PRIMARY COLORS ---*/
$color-blue-20: #001a4d;
$color-blue-40: #0047b3;
$color-blue-60: #1a75ff;
$color-blue-80: #80b3ff;
$color-blue-95: #e6f0ff;

$color-indigo-20: #312e81;
$color-indigo-40: #4338ca;
$color-indigo-60: #6366f1;
$color-indigo-80: #a5b4fc;
$color-indigo-95: #e0e7ff;

/*--- COMPLEMENTARY COLORS ---*/
$color-error-20: #7f1d1d;
$color-error-40: #b91c1c;
$color-error-60: #ef4444;
$color-error-80: #fca5a5;
$color-error-95: #fee2e2;

$color-success-20: #14532d;
$color-success-40: #166534;
$color-success-60: #22c55e;
$color-success-80: #86efac;
$color-success-95: #dcfce7;

$color-warning-20: #78350f;
$color-warning-40: #b45309;
$color-warning-60: #f59e0b;
$color-warning-80: #fde68a;
$color-warning-95: #fef9c3;

$color-neutral-100: #f9f9f9;
$color-neutral-200: #eeeeee;
$color-neutral-300: #dcdcdc;
$color-neutral-800: #2c2c2c;
$color-neutral-900: #121212;

/*--- MAIN COLORS ---*/
$color-primary: $color-blue-60;
$color-secondary: $color-indigo-60;
$color-error: $color-error-60;
$color-success: $color-success-60;
$color-warning: $color-warning-60;
$color-interactive: $color-blue-60;;
$color-disabled: $color-neutral-300;

/*--- CONTRAST CHECKER ---*/
// https://webaim.org/resources/contrastchecker/