// INSET
$space-inset-xs: 4px 4px 4px 4px;
$space-inset-sm: 8px 8px 8px 8px;
$space-inset-md: 16px 16px 16px 16px;
$space-inset-lg: 32px 32px 32px 32px;
$space-inset-xl: 64px 64px 64px 64px;

// INSET SQUISH
$space-inset-squish-sm: 8px 16px;
$space-inset-squish-md: 10px 24px;
$space-inset-squish-lg: 12px 30px;

// INSET STRETCH
$space-inset-stretch-sm: 12px 8px;
$space-inset-stretch-md: 24px 16px;

// STACK
$space-stack-xs: 0 0 4px 0;
$space-stack-sm: 0 0 8px 0;
$space-stack-md: 0 0 16px 0;
$space-stack-lg: 0 0 32px 0;
$space-stack-xl: 0 0 64px 0;

// INLINE
$space-inline-xs: 0 4px 0 0;
$space-inline-sm: 0 8px 0 0;
$space-inline-md: 0 16px 0 0;
$space-inline-lg: 0 32px 0 0;
$space-inline-xl: 0 64px 0 0;

// GENERAL
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;